body.home {
	header#masthead {
		background-position: center;
		background-size: 100;
		position: fixed;
		width: 100%;
		z-index: 1;
	}
	#content {
		background: #222222;
		position: relative;
		z-index: 99;
	}
}